<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>MACHINE LEARNING APPLICATION</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body>
 <div class="login">
	<h1>Decison tree classification on Age and Estimated salary</h1>
	<h2>Classification of Customer according to purchase yes/no</h2>
	
	<h3>Developed by Deepak Moud</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    <Label> Enter Age in Years</label>
    	<input type="text" name="Age" placeholder="Age" required="required" />
    	<br>
    	<br><Label> Enter Age in Years</label>
    	<input type="text" name="Estimated salary" placeholder="salary" required="required" />
        <br>
<br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Purchased</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
